@import 'css/bootstrap/bootstrap.min.css';
@import 'css/others/animate.css';
@import 'css/others/font-awesome.min.css';

/*NAVBAR START*/

/*Mobile phones*/
@media (max-width: 768px) {
  .collapse {
    background-color: rgba(67, 25, 161);
    margin-top: 22px;
    z-index: 999;
    padding: 15px;
    box-shadow: 1px 9px 10px rgba(255, 255, 255, 0.15);
    border-radius: 0 0 3px 3px
}

    .navbar-toggler {
        border: 2px solid #fff;
        color: #fff;
        margin: 37px 0;
        -webkit-transition-duration: 500ms;
                transition-duration: 500ms;

    
  }
}


.header_area {
    position: fixed;
    width: 100%;
    z-index: 999;
    height: 120px;
    top: 0;
    left: 0;
    z-index: 99;
    -webkit-transition-duration: 700ms;
    transition-duration: 700ms;
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
    padding: 0 30px;
}

.sticky .header_area {
    background-color: rgba(0, 26.3, 1.6);
    height: 80px;
    z-index: 997;
    border-bottom: 1px solid transparent;
}

.navbar-brand {
    color: #fff;
    font-size: 24px;
    font-weight: 700;
    margin-right: 70px;
}

.navbar-brand:hover,
.navbar-brand:focus {
    color: #fff;
    font-weight: 700;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 15px;
    padding-left: 15px;
    color: #fff;
    font-size: 15px;
}
.navbar-nav .nav-item.active .nav-link{
    color: white;
}
 .navbar-nav .nav-item .nav-link {
    color: #43D743;
}
.navbar-nav .nav-link:hover{
    color: white;
}
.log-in-btn {
    min-width: 180px;
    height: 52px;
    background-color: #3DC57C;
    border-radius: 0;
    text-align: center;
    line-height: 50px;
    font-weight: 600px;
    font-size: 15px;
    -webkit-transition-duration: 500ms;
            transition-duration: 500ms;
}
.log-in-btn:hover,.log-in-btn:focus {
    color: #fff;
    background-color: #5d25dd;
    font-weight: 600;
}
.navbar-toggler{
    color: white;
}

/*BODY*/
.welcome-area {
    width: 100%;
    height: 700px;
    position: relative;
    z-index: 1;
    background-size: cover;
}
.image{
    width: 50px;
    height: 50px;
    margin-bottom: 30px;
}
img{
    max-width: 100%;
    height: auto;
}
.content h2 {
    color: #00C33B;
    font-size: 72px;
}

.content h4 {
    color: #00C33B;
    margin-bottom: 0;
    padding-left: 5px;
}
/*BACKGROUND*/
.bg-img {
    background-position: center center;
    background-size: cover;
}

.bg-overlay,
.bg-overlay-9 {
    position: relative;
    z-index: 1;
}

.bg-overlay:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
}
/*BACKGROUND END*/


/*NAVBAR END*/


/*SINGLE CATEGORY AREA START*/
.catagory-area {
    position: relative;
    z-index: 9;
}
.single-catagory-area {
    background-color: #00972E;
    text-align: center;
    padding: 60px 15px;
    -webkit-transition-duration: 500ms;
            transition-duration: 500ms;
}

.single-catagory-area:hover {
    box-shadow: 5px 20px 30px rgba(0, 0, 0, 0.3);
}

.all-catagories {
    position: relative;
    top: -50%;
    z-index: 15;
}

.single-catagory-area .catagory-content img {
    margin-bottom: 15px;
}

.single-catagory-area .catagory-content h6 {
    margin-bottom: 0;
    color: #fff;
}
/*SINGLE CATEGORY AREA END*/

/*MODAL FORM*/
.modal-body{
    z-index:998;
}
#dontacct{
    color: black;
}
.h3log{
    color: black;
    font-weight: 600;
}
.h3in{
    color: green;
    font-weight: 600;
}
.font-weight-bold{
    color: green;
}
.row .col-xs-12 .d-flex{
    margin-bottom:10px;
}
.form-dark .font-small {
    font-size: 8px;
}

.form-dark .md-form label {
    color: #fff; 
}

.form-dark .modal-header {
    border-bottom: none;
}
/*MODAL FORM END*/


/*FOOTER*/

.footer-area {
    padding: 50px 35px;
    border-top: 1px solid #bec0cc;
}

.footer-text p {
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 0;
}
/*END FOOTER*/