@media (max-width: 768px) {
    .navbar .collapse .navbar-nav .dropdown{
        margin-right: 275px;
}
    }
.user-navbar{
    padding-top:15px;
    padding-bottom: 15px;
    background-color: #ffffff;
}
.collapse .navbar-nav .nav-item  .active{
    color:#ffab00;
    margin-left: 20px;
}
.collapse .navbar-nav .nav-item .nav-link(not:active){
   color:#000000;
   font-size: 22px;
} 
.collapse .navbar-nav .nav-item .nav-link:hover{
    color:#ffab00;
}
.slider{
    padding-top: 20px;
    margin-top: 80px;
}
.main-content{
    margin-top: 15px;
}
.main-content .container .row .col-md-4 .list-group{

    margin-top: 10px;
}
.main-content .container .row .col-md-4 .list-group-item{
    color: black;
}
.card{
    margin-top: 10px;
    margin-bottom: 15px;

}
.footer{
    padding: 20px 0; 
    background-color: #ff6f00;
    color: black;
    text-align: center;
    margin-top: 10px;
}
