@media (min-width: 992px) and (max-width: 1199px) {
    
    .single-contact-info h6 {
        font-size: 13px;
    }
    .single-contact-info h6 > i {
        margin-right: 10px;
    }
    .single-contact-info:first-child {
        margin-right: 15px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {

    .single-catagory-area .catagory-content h6 {
        font-size: 13px;
    }
    
    .single-catagory-area {
        padding: 40px 15px;
    }
    
}

@media (min-width: 320px) and (max-width: 767px) {

    .all-catagories {
        top: 0;
        padding: 30px 0;
    }
    
    .single-catagory-area {
        margin-bottom: 30px;
    }
    
    .single-catagory-area {
        padding: 40px 15px;
    }
    .footer-area {
        padding: 50px 0;
        text-align: center;
    }
    .footer-text {
        margin-bottom: 30px;
    }

    
}
